
body {
    background-color: #ddd4d4;
}

.sidebar {
    height: 200px;
    background-color: #343a40;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.sidebar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: block;
    padding: 10px;
}

.sidebar a:hover {
    background-color: #b4b6b9;
    color: black;
}

.navbar-brand {
    color: white !important;
}

.table-actions button {
    margin-right: 5px;
}