* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    overflow-x: hidden;
    background-color: #ddd4d4;
    border-radius: 10px;
}

.login {
    max-width: 600px;
    height: auto;
    margin: 5% auto 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#loginForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #426B1F;
}

.login input {
    padding: 10px;
    border: none;
    border: 1px solid #ddd;
    border-radius: 30px;
    outline: none;
    font-size: 1rem;
    width: 100%;
    margin: 10px 0 20px 0;
}

#loginForm a {
    text-decoration: none;
    color: #181d13;
    font-weight: bold;
    transition: all 0.3s ease;
    text-align: center;
    margin-top: 40px;
}

#loginForm a:hover {
    color: #426B1F;
}

#loginForm a:active {
    transform: translateY(2px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

#loginForm a:visited {
    color: #5a6e48;
}

#loginForm button {
    margin-top: 20px;
    padding: 10px;
    background-color: #426B1F;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease;
}

#loginForm button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

#loginForm button:active {  
    transform: translateY(2px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
} 