body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ddd4d4;
}

header {
    background: #192a2a;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

header .profile-link,
header .logout-link {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

main {
    padding: 20px;
}

.product-upload,
.product-list {
    margin-bottom: 30px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

input, textarea, button {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #192a2a;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #723e3e;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #000000;
    padding: 10px;
    text-align: left;
}
